@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<style>
    .header-area {
        background: #27343d !important;
    }

    .search-top {
        display: block !important;
    }
</style>


<br />
<br />
<br />

<section class="first-section my-4">
    <div class="container-fluid">
        <h1 class="text-center display-4 font-weight-bold">Oops !</h1>
        <p class=" text-center font18">
            Resource Not found. Sorry about that, let's talk with us
            <br /> If you have any query please contact us to our email or send quick query
        </p>

        


    </div>
</section>
